doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.head
      img.pic(src='/images/usaMoney.png')
      h1.headLogo Money in Politics
    block content
