body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.name {
  display: inline-block;
  color: red;
  font-size: 20px;
  margin-right: 10px;
}

.percent {
  display: inline-block;
  color: blue;
  font-size: 20px;
  margin-right: 10px;
}
