body {
  margin: 0;
  font: 14px Arial, sans-serif;
  background-color: rgba(228, 253, 225, .4);
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #00B7FF;
}

.head {
  width: 100%;
  background-color: rgba(17, 75, 95, 1);
}
.pic {
  width: 10%;
  height: 5%;
  margin: 5px;
}

.subHead {
  font-size: 22px;
  color: rgba(17, 75, 95, 1);
  margin: 0 5px;
}

.result {
  font-size: 18px;
  color: rgb(234, 109, 103);
}
.name {
  font-size: 25px;
  color: rgba(17, 75, 95, 1);
}

.percent {
  font-size: 22px;
  color: rgba(17, 75, 95, 1);
  margin: 10px auto;
}

.money {
  font-size: 22px;
  color: rgb(14, 167, 119);
  margin: 10px auto;
}

.bio {
  display: none;
  text-align: center;
  font-size: 14px;
  color: rgb(17, 75, 95);
  width: 300px;
  margin: 10px auto;
}

.showBio {
  text-align: center;
  margin: 0 auto;
  color: rgb(228, 253, 225);
  background-color: rgb(17, 75, 95);
  margin: 10px auto;
}
.showBio:hover {
  background-color: rgb(228, 253, 225);
  color: rgb(17, 75, 95);
}

.headLogo{
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  color: rgb(228, 253, 225);
}

.header {
  margin: 2% auto;
  text-align: center;
  /*color: rgb(244, 91, 105);*/
  color: rgb(234, 109, 103);
}

.thead {
  font-size: 15px;
  color: rgb(234, 109, 103);
}

.content {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.tryAgain {
  margin: 0 auto;
  font-size: 16px;
  color: red;
  padding: 5px;
  display: block;
  vertical-align: top;
  text-align: center;
  width: 50%;
}

.photo {
  display: block;
  border: 2px solid black;
  margin: 15px auto;
}

.info {
  border: 2px solid rgba(17, 75, 95, 1);
  padding: 15px;
  background-color: rgba(17, 75, 95, .05);
  box-shadow: 5px 5px 2px #888888;
  display: inline-block;
  text-align: center;
  margin: 2%;
}

.input {
  background-color: rgba(17, 75, 95, .25);
  margin: 0 auto;
  display: inline-block;
  width: 35%;
}

.center {
  margin: 0 auto;
  text-align: center;
}
